---

---

<div class="hidden sm:grid grid-cols-3">
   <div class="col-span-1 w-full"></div>
   <div class="col-span-2 w-full">
      <p
         class="font-light text-sm lg:text-base text-neutral-500 opacity-0 tracking-tight animate-fadeInLabel"
      >
         Hello — I’m a <span class="text-neutral-400">Software Engineer</span>
      </p>
   </div>
</div>
<div class="grid grid-cols-1 sm:grid-cols-3 mt-2">
   <div class="col-span-1 w-full text-center sm:text-left">
      <h1
         class="text-2xl lg:text-3xl lg:fixed !leading-[125%] inline-block font-light text-transparent bg-clip-text bg-gradient-to-b from-blue-500 via-white to-teal-500 from-0% via-75% to-100%"
      >
         Vignesh<br />Wadhwani
      </h1>
   </div>
   <div
      class="col-span-1 mt-8 flex flex-col text-center sm:text-left items-center sm:items-start sm:mt-0 sm:col-span-2 w-full"
   >
      <p
         class="font-light block sm:hidden text-sm lg:text-base text-neutral-500 opacity-0 tracking-tight animate-fadeInLabel"
      >
         Hello — I’m a <span class="text-neutral-400">Software Engineer</span>
      </p>
      <p
         class="text-balance mt-2 sm:mt-0 animate-fadeInText tracking-tight opacity-0 font-light text-xl lg:text-2xl max-w-2xl !leading-[150%] w-full"
      >
         Developing modern and performant web applications with neat interfaces,
         robust experiences, scalability, and the user in mind.
      </p>
      <button
         class="mt-12 py-3 -ml-4 animate-fadeInInquiry opacity-0 inline-flex items-center px-5 text-sm lg:text-base bg-blue-800/10 hover:bg-blue-800/15 transition duration-150 ease-linear text-blue-400 tracking-tight font-medium rounded-full"
      >
         <svg
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="currentColor"
            stroke-width="1.5"
            class="h-4 w-4 -ml-1 mr-3 text-blue-900"
            ><path
               d="M6.90588 4.53682C6.50592 4.2998 6 4.58808 6 5.05299V18.947C6 19.4119 6.50592 19.7002 6.90588 19.4632L18.629 12.5162C19.0211 12.2838 19.0211 11.7162 18.629 11.4838L6.90588 4.53682Z"
               fill="currentColor"
               stroke="currentColor"
               stroke-width="1.5"
               stroke-linecap="round"
               stroke-linejoin="round"></path></svg
         >
         Project inquiries
      </button>
   </div>
</div>
