---

---

<div
   id="beam__wrapper"
   class="hidden sm:flex relative lg:sticky lg:pt-10 lg:-mt-10 top-0 left-0 max-w-7xl mx-auto w-full"
>
   <div
      id="beam"
      class="absolute pointer-events-none animate-fadeInBeam opacity-0 select-none overflow-hidden -top-[160px] lg:-top-[70px] -left-[430px] lg:-left-[280px]"
   >
      <svg
         width="867"
         height="602"
         viewBox="0 0 967 702"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
      >
         <g opacity="0.2" filter="url(#filter0_f_588_2)">
            <path
               d="M391.071 311.067L140.075 215.242C130.076 211.425 121.706 204.265 116.385 194.979C98.1163 163.092 122.439 123.641 159.134 125.642L438.663 140.882C461.772 142.142 484.443 147.703 505.511 157.281L610.175 204.861C650.427 223.159 682.844 255.199 701.613 295.234L756.252 411.784C762.788 425.727 766.177 440.937 766.177 456.336C767.736 497.596 716.021 517.264 689.768 485.397L670.876 462.465C667.239 458.05 662.913 454.251 658.066 451.214L534.907 374.056C526.364 368.703 517.399 364.054 508.102 360.155L391.071 311.067Z"
               fill="url(#paint0_linear_588_2)"
               fill-opacity="0.75"></path>
            <path
               d="M391.071 311.067L140.075 215.242C130.076 211.425 121.706 204.265 116.385 194.979C98.1163 163.092 122.439 123.641 159.134 125.642L438.663 140.882C461.772 142.142 484.443 147.703 505.511 157.281L610.175 204.861C650.427 223.159 682.844 255.199 701.613 295.234L756.252 411.784C762.788 425.727 766.177 440.937 766.177 456.336C767.736 497.596 716.021 517.264 689.768 485.397L670.876 462.465C667.239 458.05 662.913 454.251 658.066 451.214L534.907 374.056C526.364 368.703 517.399 364.054 508.102 360.155L391.071 311.067Z"
               fill="url(#paint1_linear_588_2)"
               fill-opacity="0.6"></path>
         </g>
         <g opacity="0.2" filter="url(#filter1_f_588_2)">
            <path
               d="M723.853 366.326C720.713 369.278 706.095 343.36 673.485 319.76C631.427 289.322 573.744 245.104 507.326 188.852C389.41 88.9861 310.004 65.3186 317.194 58.5593C324.383 51.7999 452.265 52.0554 570.181 151.921C637.779 225.584 667.334 282.423 695.383 312.25C723.432 342.077 727.094 363.279 723.853 366.326Z"
               fill="url(#paint2_linear_588_2)"></path>
         </g>
         <g opacity="0.2" filter="url(#filter2_f_588_2)">
            <path
               d="M623.557 337.531C619.268 341.165 568.767 298.069 507.629 245.312C482.762 223.853 451.164 204.837 424.878 180.137C333.965 94.7082 216.313 141.027 222.346 135.915C228.379 130.803 402.16 89.1887 493.072 174.617C583.985 260.046 629.59 332.419 623.557 337.531Z"
               fill="url(#paint3_linear_588_2)"></path>
         </g>
         <g opacity="0.2" filter="url(#filter3_f_588_2)">
            <path
               d="M464.747 240.707C457.228 247.417 375.452 185.325 282.096 102.021C188.741 18.7161 359.44 218.16 366.96 211.45C374.479 204.74 215.971 -5.58269 309.327 77.7217C402.683 161.026 472.267 233.997 464.747 240.707Z"
               fill="url(#paint4_linear_588_2)"></path>
         </g>
         <defs>
            <filter
               id="filter0_f_588_2"
               x="-89.8302"
               y="-74.4315"
               width="1056.04"
               height="775.639"
               filterUnits="userSpaceOnUse"
               color-interpolation-filters="sRGB"
            >
               <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
               <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
               <feGaussianBlur
                  stdDeviation="100"
                  result="effect1_foregroundBlur_588_2"></feGaussianBlur>
            </filter>
            <filter
               id="filter1_f_588_2"
               x="246.743"
               y="-13.9156"
               width="548.091"
               height="450.473"
               filterUnits="userSpaceOnUse"
               color-interpolation-filters="sRGB"
            >
               <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
               <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
               <feGaussianBlur
                  stdDeviation="35"
                  result="effect1_foregroundBlur_588_2"></feGaussianBlur>
            </filter>
            <filter
               id="filter2_f_588_2"
               x="152.123"
               y="51.3047"
               width="541.964"
               height="356.441"
               filterUnits="userSpaceOnUse"
               color-interpolation-filters="sRGB"
            >
               <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
               <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
               <feGaussianBlur
                  stdDeviation="35"
                  result="effect1_foregroundBlur_588_2"></feGaussianBlur>
            </filter>
            <filter
               id="filter3_f_588_2"
               x="184.253"
               y="-11.7656"
               width="351.05"
               height="322.969"
               filterUnits="userSpaceOnUse"
               color-interpolation-filters="sRGB"
            >
               <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
               <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
               <feGaussianBlur
                  stdDeviation="35"
                  result="effect1_foregroundBlur_588_2"></feGaussianBlur>
            </filter>
            <linearGradient
               id="paint0_linear_588_2"
               x1="284.992"
               y1="265.074"
               x2="832.11"
               y2="584.135"
               gradientUnits="userSpaceOnUse"
            >
               <stop stop-color="#001AFF"></stop>
               <stop offset="1" stop-color="#00D1FF"></stop>
            </linearGradient>
            <linearGradient
               id="paint1_linear_588_2"
               x1="355.993"
               y1="307.863"
               x2="770.214"
               y2="267.719"
               gradientUnits="userSpaceOnUse"
            >
               <stop stop-color="#00D1FF"></stop>
               <stop offset="1" stop-color="#001AFF"></stop>
            </linearGradient>
            <linearGradient
               id="paint2_linear_588_2"
               x1="450.911"
               y1="137.764"
               x2="693.954"
               y2="396.271"
               gradientUnits="userSpaceOnUse"
            >
               <stop stop-color="#E5F3FF"></stop>
               <stop offset="1" stop-color="#0500FF"></stop>
            </linearGradient>
            <linearGradient
               id="paint3_linear_588_2"
               x1="403.632"
               y1="138.552"
               x2="588.823"
               y2="357.098"
               gradientUnits="userSpaceOnUse"
            >
               <stop stop-color="#E5F3FF"></stop>
               <stop offset="1" stop-color="#0500FF"></stop>
            </linearGradient>
            <linearGradient
               id="paint4_linear_588_2"
               x1="463.088"
               y1="253.113"
               x2="347.357"
               y2="95.8192"
               gradientUnits="userSpaceOnUse"
            >
               <stop stop-color="#E5F3FF"></stop>
               <stop offset="1" stop-color="#0500FF"></stop>
            </linearGradient>
         </defs>
      </svg>
   </div>
</div>
